.game-container {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    border: 2px solid #ccc;
    max-width: 500px;
    margin: 40px auto;
}

.input-btn{
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border: none;
    font-size: 18px;
    transition: background-color 0.2s;
}

.input-btn:hover,
.output-button:hover {
    transform: scale(1.05);
    filter: brightness(1.1);
}

.input-btn:active,
.output-button:active {
    transform: scale(0.95);
    filter: brightness(0.9);
}

.input-btn.on {
    background-color: chartreuse;
    color: white;
}

.input-btn.off {
    background-color: red;
    color: white;
}

#led-light {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 10px ;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

@keyframes ledAnimation {
    from {
        background-color: #ffee00;
        box-shadow: 0 0 100px #ffeb3b;
    }
    to {
        background-color: #fdec51;
        box-shadow: 0 0 20px #ffeb3b, 0 0 30px #ffeb3b;
    }
}

.Light.on {
    animation-name: ledAnimation;
    animation-duration: 2s;
    background-color: #fdec51;
    box-shadow: 0 0 20px #ffeb3b, 0 0 30px #ffeb3b;
}

.Light.off {
    background: #666;
}

.gate-image-style {
    width: 120px;
    height: auto;
    margin: -10px auto;
    display:block;
}

.gate-image-style-2 {
    width: 120px;
    height: auto;
    margin:auto;
    margin-bottom: -10px;
    display:block;
}

.gate-image-style-3 {
    width: 200px;
    height: auto;
    margin:auto;
    margin-top: -10px;;
    margin-bottom: -10px;
    display:block;
}

.output-button {
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    font-size: 18px;
}

.info-display {
    font-size: 25px;
    margin: auto;
    margin-left: 100px;
}

#next-stage-btn {
    margin: auto;
    font-size: 25px;
    cursor: pointer;
    color: green;
    background-color: #ffeb3b;
}

.pop {
    animation: popEffect 0.3s ease-out;
}

@keyframes popEffect {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}

.red-moves {
    animation: flashEffect 0.5s;
}

@keyframes flashEffect {
    50% {
        color: red;
        transform:scale(1.1);
    }
    100% {
        color: inherit;
        transform: scale(1);
    }
}

.red-light {
    animation: redLight 0.5s;
}

@keyframes redLight {
    50% {
        background: red;
    }
    75% {
        background: rgb(118, 0, 0);
    }
    100% {
        background: #666;
    }
}

#reset-game-btn {
    font-size: 20px;
    margin: 20px;
    background-color: #e3ff7d;
}
